body{
background:black;
color:white;
font-family:monospace;
text-align:center;
}

button{
padding:10px;
margin:10px;
font-size:16px;
cursor:pointer;
}

#guess-input{
padding:8px;
font-size:16px;
}

.header-row{
display:grid;
grid-template-columns:repeat(6,150px);
justify-content:center;
margin-top:20px;
font-weight:bold;
}

.row{
display:grid;
grid-template-columns:repeat(6,150px);
justify-content:center;
margin-top:5px;
}

.cell{
border:1px solid white;
padding:8px;
}

.correct{background:#00cc66;}
.close{background:#e6b800;}
.wrong{background:#444;}

#resultMenu{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#111;
border:2px solid white;
padding:20px;
display:none;
}
